*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: #202020;
}
.logo{
  width: 110px;
}
.login{
	height:500px;
	width:100%;
}
.login-img{
	background-image:url("../imagens/login-img.jpg");
	background-repeat:no-repeat;
	background-size: contain;
	height:500px;
	opacity:0.5;
	}
.login2{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
	#input-login{
		width:400px;
		border:none;
		border-bottom:1px solid #B9B7B7;
  }
ul {
	text-decoration: none;
	display:flex;
}
li {
	list-style: none;
	flex-direction:row;
}
  a{
	color:#fff;
	}
li a:hover {
  color: #fff;
	background-color: #A52A2A;
	text-decoration:none;
}
.header ul ul {
    position: absolute;
    visibility: hidden;
}
header a{
    padding: 15px;
    display: block;
    border-radius: 10px;
    text-decoration: none;
}
		i{
			margin:10px;
			font-size:48px;
			}

			i:hover{
					color: #800000;}
footer{
  background-color: #202020;
}
@media only screen and (max-width: 576px){
}
